- violating the following rules may result in kick and/or ban.
- if you have any questions please use the !report command in chat

- don't promote other servers on our server.
- don't spam chat
- don't sit in spectate while the server is full
- don't sit on teams (ie. joining a team without playing)
- dont pee in a pool

NDix team
